/*#0f3057*/
/*#00587a*/
/*#008891*/
/*#e7e7de*/

* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    position: relative;
    min-height: 100vh;
    padding-top: 1px;
    margin-top: -1px;
    background-color:#00587a;
}

head {
    display: none;
}

header {
    padding: 20px;
    background-color: #00587a;
    color: #ffffff;
    /*box-shadow: 0 5px 12px 5px rgba(51,51,51,0.7);*/
    /*border-radius: 0 0 0 5px;*/
}

main {
    padding: 0 20px 20px;
    /*box-shadow: 0 -3px 12px 5px rgba(51,51,51,0.7);*/
    background-color: #ffffff;
}

.h1 {
    text-align: center;
    font-size: 1.8em;
}

.h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    color: #0f3057;
}

nav {
    /*padding: 20px;*/
    background-color: #ffffff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    padding: 10px;
    text-decoration: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
}

nav ul .nav__item:hover {
    background-color: #00587a;
    cursor: pointer;
}

nav ul .nav__item.active {
    background-color: #00587a;
    cursor: pointer;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The switcher */
.switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f3057;
    -webkit-transition: .4s;
    transition: .4s;
}

.switcher:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switcher {
    background-color: #008891;
}

input:focus + .switcher {
    box-shadow: 0 0 1px #008891;
}

input:checked + .switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.calculator__wrapper {
    margin: 0 auto;
}

.calculator__wrapper form.active {
    display: block;
}

.calculator__wrapper form {
    display: none;
}

hr {
    border-top: 1px dotted #008891;
    margin: 20px 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 35px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    margin: 5px 0 10px 0;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    background-color: #ececec;
    border: 0;
    border-bottom: 2px solid #585858;
    border-radius: 4px 4px 0 0;
}

.point__container {
    width: 20%;
    padding-left: 10px;
    display: inline-block;
    text-align: center;
}

.reachedPoints {
    display: inline-block;
}

button {
    margin: 10px auto;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #0f3057;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: white;
    background-color: #008891;
    box-shadow: -3px 5px 5px 0 rgba(51,51,51,0.7);
}

.small {
    font-size: 0.6em;
}


.slidecontainer {
    position: relative;
    height: 38px;
}

.slidecontainer input {
    width: 100%;
}

.slider {
    position: absolute;
    top: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 38px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 10;
}

.slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 38px;
    background: #000000;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 38px;
    background: #000000;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ddd;
    display: flex;
    z-index: 0;
}

.score {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    margin: 0;
}

.e {
    width: 40%;
    background-color: #EF2D1A;
}

.d {
    width: 14.45%;
    background-color: #F4730E;
}

.c {
    width: 14.45%;
    background-color: #FBC801;
}

.b {
    width: 5.45%;
    background-color: #74C928;
}

.a {
    width: 27.27%;
    background-color: #0E8648;
}

#chevron {
    position: relative;
    text-align: center;
    padding: 8px;
    margin: 0 auto 40px;
    height: 10px;
    width: 200px;
}

#chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #0f3057;
    transform: skew(0deg, 12deg);
}

#chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #0f3057;
    transform: skew(0deg, -12deg);
}

#resultPoints {
    margin: 5px 0;
}

#resultScore {
    margin: 5px 0 20px;
}

.footer {
    /*position: absolute;*/
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E2E2E2;
    color: black;
    text-align: left;
    padding: 20px;
}

footer a {
    color: #0E8648;
}

@media only screen and (min-width: 600px) {
    main {
        margin: 20px auto;
        width: fit-content;
    }

    .calculator__wrapper, nav {
        width: 400px;
    }

    .scan-popup {
        right: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .calculator__wrapper, nav {
        width: 500px;
    }
}

.open {
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 20;
    width: auto;
    background-color: #008891;
    padding: 0;
}

.open img {
    height: auto;
    width: 55px;
    padding: 5px;
}

.scan-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 0;
    width: auto;
    z-index: 20;
    padding: 10px;
    background-color: #008891;
}

.scan-popup h2 {
    color: white;
}

.scan-popup .cancel {
    background-color: #b13535;
}

.scan-popup .button:hover, .open-button:hover {
    opacity: 1;
}

#qr-reader {
    border: none !important;
}

#qr-reader__dashboard_section button {
    width: 90%;
}

#qr-reader__dashboard_section button:hover {
    background-color: #00587a;
}